@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-inter {
    font-family: 'Inter' , sans-serif;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.tick-img {
    width: 80px;
    margin-bottom: 20px;
}

.success-text {
    font-size: 20px;
    margin-bottom: 20px;
}

.continue-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}